In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
books = pd.read_csv('BX-Books.csv',sep=";",encoding='latin-1',error_bad_lines=False)

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\Lenovo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
user = pd.read_csv('BX-Users.csv',sep=";",encoding='latin-1',error_bad_lines=False)
rating =pd.read_csv('BX-Book-Ratings.csv',sep=";",encoding='latin-1',error_bad_lines=False)

In [5]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
user.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [7]:
rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

# Changing column names for better accesablity

In [8]:
books = books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'})

In [9]:
user = user.rename(columns={'User-ID':'userid','Location':'location','Age':'age'})

In [10]:
rating = rating.rename(columns={'User-ID':'userid','Book-Rating':'rating'})

In [11]:
user_above_50_rating = rating['userid'].value_counts()>5

In [12]:
user_above_50_rating

11676      True
198711     True
153662     True
98391      True
35859      True
          ...
271728    False
245123    False
234886    False
259466    False
187812    False
Name: userid, Length: 105283, dtype: bool

In [13]:
#Merging the Books data andrating data on ISBN

In [14]:
df = pd.merge(books,rating,on='ISBN')

In [15]:
df.head()

,ISBN,title,author,year,publisher,Image-URL-S,Image-URL-M,Image-URL-L,userid,rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0

In [16]:
#droping url of small and large images, keeping the medium size image url

In [17]:
df.drop(['Image-URL-S','Image-URL-L'],axis=1,inplace=True)

In [18]:
df.head()

,ISBN,title,author,year,publisher,Image-URL-M,userid,rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,41385,0

In [19]:
book_rating = df.dropna(axis=0, subset= ['title'])
rating_count = (book_rating.
                groupby(by = ['title'])['rating'].
                count().
                reset_index().
                rename(columns={'rating':'totalrating'})
                [['title','totalrating']]
               )

In [20]:
rating_count.head()

                                               title  totalrating
0   A Light in the Storm: The Civil War Diary of ...            4
1                              Always Have Popsicles            1
2               Apple Magic (The Collector's series)            1
3   Ask Lily (Young Women of Faith: Lily Series, ...            1
4   Beyond IBM: Leadership Marketing and Finance ...            1

In [21]:
book_rating = book_rating.rename(columns={'Image-URL-M':'imageurl'})

In [22]:
book_rating.head()

,ISBN,title,author,year,publisher,imageurl,userid,rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,41385,0

In [23]:
final_book_data = book_rating.merge(rating_count,left_on='title',right_on='title',how='left')

In [24]:
final_book_data.head()

,ISBN,title,author,year,publisher,imageurl,userid,rating,totalrating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,2,0,2
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,8,5,14
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,11400,0,14
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,11676,8,14
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,41385,0,14

In [25]:
final_book_data.to_csv('books.csv')

In [26]:
final_book_data.head()

,ISBN,title,author,year,publisher,imageurl,userid,rating,totalrating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,2,0,2
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,8,5,14
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,11400,0,14
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,11676,8,14
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,41385,0,14

In [28]:
data = final_book_data.drop(['author','year','publisher','imageurl'],axis=1)

In [29]:
data.head()

         ISBN                title  userid  rating  totalrating
0  0195153448  Classical Mythology       2       0            2
1  0002005018         Clara Callan       8       5           14
2  0002005018         Clara Callan   11400       0           14
3  0002005018         Clara Callan   11676       8           14
4  0002005018         Clara Callan   41385       0           14

In [34]:
only_popular_books = data.query('totalrating>=100')#only book rate at least 100 times is taken others neglated
only_popular_books.head()

          ISBN                   title  userid  rating  totalrating
30  0399135782  The Kitchen God's Wife       8       0          311
31  0399135782  The Kitchen God's Wife   11676       9          311
32  0399135782  The Kitchen God's Wife   29526       9          311
33  0399135782  The Kitchen God's Wife   36836       0          311
34  0399135782  The Kitchen God's Wife   46398       9          311

In [40]:
only_popular_books['title'].nunique()#total number of books are 914

914

In [43]:
only_popular_books['userid'].nunique()

38132

In [41]:
books_features = only_popular_books.pivot_table(index='title',columns='userid',values='rating').fillna(0)

# Now the data need to converted to an array matrix

In [48]:
#now using scipy convert the pivot table to csr matrix
from scipy.sparse import csr_matrix
books_features_matrix = csr_matrix(books_features.values)

In [50]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(metric='cosine',algorithm='brute')

In [51]:
model.fit(books_features_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [55]:
books_features.shape[0]

914

In [56]:
query_index = np.random.choice(books_features.shape[0])
print(query_index)
distances, indices = model.kneighbors(books_features.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

12

In [60]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(books_features.index[56]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, books_features.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for American Psycho (Vintage Contemporaries):

1: The Third Twin, with distance of 0.8755319182221788:
2: Fatal Cure, with distance of 0.8837646017853614:
3: Jackdaws, with distance of 0.8844187971433766:
4: Dark Lady, with distance of 0.8971658704890925:
5: Rules of Prey, with distance of 0.9214068164555224: